@import 'vars';
@import 'text';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  background: $js-grey;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#mainHeader {
  min-height: $js-strip-min-height;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
}

#page {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 4rem;

  div.page {
    background: $js-light-grey;
    width: calc(100% - #{$js-padding});
    height: 100%;
    ul {
      padding-left: 2em;
    }
  }
}

#mainFooter {
  min-height: $js-strip-min-height;
  background: $js-cyan;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a, a:visited {
    color: $js-light-grey;
  }

  #YesWikiLink {
    font-size: 0.80em;
    padding: 2em;
  }
}

@media (min-width: 960px) {
  #page {
    div.page {
      width: $js-text-width;
      height: 100%;
    }
  }
}

@import "header";
@import "pagePrincipale";
