#mainHeader {
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items: center;
  background: url('../images/header.svg') no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

#logo {
  padding: calc(#{$js-padding} / 2);
  img {
    height: calc(#{$js-strip-min-height} - #{$js-padding});
    padding: 0;
  }
}

#headerText {
  font-size: 4em;
  color: $js-magenta;
  font-family: 'Aldo PC';
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}
