$js-light-grey: #F6F6F6;
$js-grey: #e1e1e1;
$js-cyan: #009FE3;
$js-magenta: #E6007E;
$js-yellow: #FFED00;
$js-green: #A8C813;
$js-purple: #6D2F88;


$js-text-color: #1A171B;

$bold: 700;
$semiBold: 600;
$js-text-width: 42em;
$js-strip-min-height: 20em;
$js-padding: 2em;
