$js-grey: #F6F6F6;
$js-cyan: #009FE3;
$js-magenta: #E6007E;
$js-yellow: #FFED00;
$js-green: #A8C813;
$js-purple: #6D2F88;
$bold: 700;
$semiBold: 600;
$textWidth: 42em;
$chunckMinSize: 23em;
$js-padding: 2em;
